.heading_container{
    border-bottom: 2px solid #9a9595;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    button{
        background-color: #3e8ed5;
        border: none;
        padding: 8px;
        color: #fff;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
            background-color: #2871b1;
        }
    }
    .title{
        p{
            margin: 0px;
        }
    }
}

#task_title,#assign_date{
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #e5e5e5;
}

.data_layout{
    // display: flex;
    // justify-content: flex-start;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    margin-top: 30px;
    li{
        // width: 31%;
        position: relative;
        padding: 15px;
        height: 150px;
        border-radius: 5px;
        border-bottom: 0px;
        box-shadow: 10px 5px 25px #9c9c9c;
        margin-bottom: 20px;
    }
}

.edit_delete{
    position: absolute;
    display: flex;
    bottom: 15px;
    right: 15px;
    .edit,.delete{
        width:20px;
        height: 20px;
        margin: 0px 3px;
        svg{
            width: 100%;
            height: 100%;
        }
        &:hover{
            cursor: pointer;
        }
    }
}