.container{
    background-color: #b5b5b5;
    height: 60px;
    position: sticky;
    top: 0px;
    padding: 10px 15px;
    z-index: 1;
    box-shadow: 1px 3px 8px #808080;
}

.main_container{
    display: flex;
    justify-content: space-between;
}

.left_container{
    display: flex;
    justify-content: flex-start;
}

.logo_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo_icon_container{
    margin-right: 15px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    svg{
        width: 100%;
        height: 100%;
    }
}

.expand_container{
    background-color: #aeaeae;
    padding: 7px 10px;
    border-radius: 50px;
    &:hover{
        cursor: pointer;
        background-color: #a5a5a5;
    }
}

.profile_pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 6px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.login_details{
    display: flex;
    margin-top: 5px;
    span{
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
}